body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    color: black;
    font-size: 35px;
  }

  h2 {
    color: black;
    font-size: 20px;
  }

  h2 a {
    color: black;
    text-decoration: underline;
  }

  h3 {
    color: black;
    font-size: 17px;
  }
  
  h4 {
    color: black;
    font-size: 10px;
  }

  h5 {
    color: black;
    font-size: 5px;
  }


  hr {
    border: none;
    height: 2px;
    background-color: black;
    border-radius: 10px;
  }
  
  ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0; /* Remove any default padding */
  }

  ol li {
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    list-style-position: inside; /* Position the numbers inside the list items */
  }

  li h3 {
    display: inline-block;
  }

  p {
    color: black;
    font-size: 15px;
    font-weight: normal;
  }

  li img {
    height: auto;
    width: 250px;
  }

  li img.difselector {
    height: auto;
    width: 250px;
  }

  .instructions {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  .instructions a {
    background-color: black;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .red {
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .cyan {
    background-color: cyan;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .blue {
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .darkblue {
    background-color: darkblue;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .lightblue {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .purple {
    background-color: purple;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .yellow {
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .lime {
    background-color: lime;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .magenta {
    background-color: magenta;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .pink {
    background-color: pink;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .white {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  .white a{
    color: black;
  }

  .silver {
    background-color: silver;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .gray {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .black {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .orange {
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .brown {
    background-color: brown;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .maroon {
    background-color: maroon;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .green {
    background-color: green;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .olive {
    background-color: olive;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .aquamarine {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

img {
  height: auto;
  width: 20%;
}

nav {
  background-color: #0C090A;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  color: white;
}

nav li:not(:last-child)::after {
  content: "/";
  margin: 0 5px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 4px 2px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


button {
  background-color: blue;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
background-color: white;
color:  #2A2728;
}

a.legal {
  color: black;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 4px 2px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}